1<table class="schedule" cellspacing="2px">
    <!-- header -->
    <thead>
        <td class="week-num"></td>
        <td class="date day1" colspan="2">Monday</td>
        <td class="date day2" colspan="2">Wednesday</td>
        <td class="assignment"></td>
    </thead>
    <tbody>
        <!--week 0: 01/18, 01/20-->
        <tr class="week">
            <td class="week-num">(0)</td>
            <!-- Mon 01/18 -->
            <td class="date">01 &middot; 18</td>
            <td class="details day1">
                <span class="dimmed">Martin Luther King, Jr. Day (no class)</span>
            </td>
            <!-- Wed 01/20 -->
            <td class="details day2">
                <span class="">DSLs: What, why, and how?</a></span>
                <ul class="">
                    <li>
                        <a href="/slides/DSLs_Intro.pdf">slides</a>
                    </li>
                </ul>
            </td>
            <td class="date">01 &middot; 20</td>
            <td class="assignment"> 
                <dl>
                    <dt><a href="https://github.com/hmc-cs111-spring2016/what-is-a-DSL">What <em>is</em> a DSL?</a></dt>
                    <dd>Due: Sunday 1/24 at 11:59pm<br/> Critique: Tuesday 1/26 at 11:59pm</dd>
                </dl>
            </td>
        </tr>
        <!--week 1: 01/25, 01/27-->
        <tr class="week">
            <td class="week-num">(1)</td>
            <!-- Mon 01/25 -->
            <td class="date">01 &middot; 25</td>
            <td class="details day1">
                <span class="">What is a DSL?</span>
                <ul class="">
                    <li>
                        <a href="/slides/DSLs_What_Is_a_DSL.pdf">slides</a>                        
                    </li>
                    <li>
                        <a href="https://github.com/hmc-cs111-spring2016/hmc-cs111-spring2016.github.io/wiki/What-is-a-DSL%3F">writeup</a>
                    </li>
                </ul>
            </td>
            <!-- Wed 01/27 -->
            <td class="details day2">
                <span class="">Mini-lab: fluency</span>
                <ul class="">
                    <li>
                        <a href="https://github.com/hmc-cs111-spring2016/fluency-lab">lab</a>
                    </li>
                    <li>
                        <a href="https://github.com/hmc-cs111-spring2016/hmc-cs111-spring2016.github.io/wiki/Library-Design">writeup</a>
                    </li>
                </ul>
            </td>
            <td class="date">01 &middot; 27</td>
            <td class="assignment"> 
                <dl>
                    <dt>Language design</dt>
                    <dd>Due: Wednesday 2/3 at 11:59pm<br/> Critique: Friday 2/5 at 11:59pm</dd>
                </dl>
            </td>
        </tr>
        <!--week 2: 02/01, 02/03-->
        <tr class="week">
            <td class="week-num">(2)</td>
            <!-- Mon 02/01 -->
            <td class="date">02 &middot; 01</td>
            <td class="details day1">
                <span class="">Scala intro</span>
                <ul class="">
                    <li>
                        <a href="https://github.com/hmc-cs111-spring2016/hmc-cs111-spring2016.github.io/wiki/Scala-Intro">writeup</a>
                    </li>
                </ul>
            </td>
            <!-- Wed 02/03 -->
            <td class="details day2">
                <span class="">Projects: interviews</span>
                <ul class="">
                    <li>
                        <a href="https://github.com/hmc-cs111-spring2016/hmc-cs111-spring2016.github.io/wiki/Projects:-Interviews">writeup</a>
                    </li>
                </ul>
            </td>
            <td class="date">02 &middot; 03</td>
            <td class="assignment"> 
                <dl>
                    <dt>Practice Scala</dt>
                    <dd>Due: Wednesday 2/10 at 11:59pm<br/> Critique: Friday 2/12 at 11:59pm</dd>
                </dl>
            </td>
        </tr>
        <!--week 3: 02/08, 02/10-->
        <tr class="week">
            <td class="week-num">(3)</td>
            <!-- Mon 02/08 -->
            <td class="date">02 &middot; 08</td>
            <td class="details day1">
                <span class="">Functional Scala</span>
                <ul class="">
                    <li>
                        <a href="https://github.com/hmc-cs111-spring2016/hmc-cs111-spring2016.github.io/wiki/Functional-Scala">writeup</a>
                    </li>
                </ul>
            </td>
            <!-- Wed 02/10 -->
            <td class="details day2">
                <span class="">Lab: Internal control flow</span>
                <ul class="">                
                    <li>
                        <a href="https://github.com/hmc-cs111-spring2016/hmc-cs111-spring2016.github.io/wiki/Internal-Control-Flow">writeup</a>
                    </li>
                </ul>
            </td>
            <td class="date">02 &middot; 10</td>
            <td class="assignment"> 
                <dl>
                    <dt>Project ideas</dt>
                    <dd>Due: Wednesday 2/17 at 11:59pm<br/> Critique: Friday 2/19 at 11:59pm</dd>
                </dl>
            </td>
        </tr>
        <!--week 4: 02/15, 02/17-->
        <tr class="week">
            <td class="week-num">(4)</td>
            <!-- Mon 02/15 -->
            <td class="date">02 &middot; 15</td>
            <td class="details day1">
                <span class="">Object-oriented Scala</span>
                <ul class="">
                    <li>
                        <a href="https://github.com/hmc-cs111-spring2016/hmc-cs111-spring2016.github.io/wiki/Object-Oriented-Scala">writeup</a>
                    </li>
                </ul>
            </td>
            <!-- Wed 02/17 -->
            <td class="details day2">
                <span class="">Extensibility: Traits</span>
                <ul class="">
                    <li>
                        <a href="https://github.com/hmc-cs111-spring2016/hmc-cs111-spring2016.github.io/wiki/Traits">writeup</a>
                    </li>
                </ul>
            </td>
            <td class="date">02 &middot; 17</td>
            <td class="assignment"> 
                <dl>
                    <dt>Internal DSL</dt>
                    <dd>Due: Wednesday 2/24 at 11:59pm<br/> Critique: Friday 2/26 at 11:59pm</dd>
                </dl>
            </td>
        </tr>
        <!--week 5: 02/22, 02/24-->
        <tr class="week">
            <td class="week-num">(5)</td>
            <!-- Mon 02/22 -->
            <td class="date">02 &middot; 22</td>
            <td class="details day1">
                <span class="">Extensibility: The Expression Problem</span>
                <ul class="">
                    <li>
                        <a href="https://github.com/hmc-cs111-spring2016/hmc-cs111-spring2016.github.io/wiki/Expression-Problem">writeup</a>
                    </li>
                </ul>
            </td>
            <!-- Wed 02/24 -->
            <td class="details day2">
                <span class="">Language architecture &amp; parser combinators</span>
                <ul class="">
                    <li>
                        <a href="https://github.com/hmc-cs111-spring2016/hmc-cs111-spring2016.github.io/wiki/Architecture-and-Parsing">writeup</a>
                    </li>
                </ul>
            </td>
            <td class="date">02 &middot; 24</td>
            <td class="assignment" rowspan="2"> 
                <dl>
                    <dt>Language design: Piconot</dt>
                    <dd>Due: Wednesday 3/4 at 11:59pm<br/> Critique: Friday 3/6 at 11:59pm</dd>
                </dl>
            </td>
        </tr>
        <!--week 6: 02/29, 03/02-->
        <tr class="week">
            <td class="week-num">(6)</td>
            <!-- Mon 02/29 -->
            <td class="date">02 &middot; 29</td>
            <td class="details day1">
                <span class="">Models of computation</span>
                <ul class="">
                    <li>
                        <a href="https://github.com/hmc-cs111-spring2016/hmc-cs111-spring2016.github.io/wiki/Models-of-computation">writeup</a>
                    </li>
                </ul>
            </td>
            <!-- Wed 03/02 -->
            <td class="details day2">
                <span class="">Lessons and plans</span>
                <ul class="">
                    <li>
                        <a href="https://github.com/hmc-cs111-spring2016/hmc-cs111-spring2016.github.io/wiki/Lessons-and-plans">writeup</a>
                    </li>
                </ul>
            </td>
            <td class="date">03 &middot; 02</td>
        </tr>
        <!--week 7: 03/07, 03/09-->
        <tr class="week">
            <td class="week-num">(7)</td>
            <!-- Mon 03/07 -->
            <td class="date">03 &middot; 07</td>
            <td class="details day1">
                <span class="">Language features, part 1</span>
                <ul class="todo">
                    <li>
                        <a href="slides/">slides</a>
                    </li>
                    <li>
                        <a href="code/">code</a>
                    </li>
                </ul>
            </td>
            <!-- Wed 03/09 -->
            <td class="details day2">
                <span class="">Language features, part 2</span>
                <ul class="todo">
                    <li>
                        <a href="slides/">slides</a>
                    </li>
                    <li>
                        <a href="code/">code</a>
                    </li>
                </ul>
            </td>
            <td class="date">03 &middot; 09</td>
            <td class="assignment"> 
                <dl>
                    <dt>Project: description and plan <em><b>&amp;</b></em> Repository</dt>
                    <dd>Due: <b>Friday</b> 3/11 at 11:59pm<br/> 
                        Critique: Tuesday 3/22 at 11:59pm</dd>
                </dl>
            </td>
        </tr>
        <!--week 8: 03/14, 03/16-->
        <tr class="week">
            <td class="week-num">(8)</td>
            <!-- Mon 03/14 -->
            <td class="date">03 &middot; 14</td>
            <td class="details day1">
                <span class="dimmed">Spring Break (no class)</span>
                <ul class="todo">
                    <li>
                        <a href="slides/">slides</a>
                    </li>
                    <li>
                        <a href="code/">code</a>
                    </li>
                </ul>
            </td>
            <!-- Wed 03/16 -->
            <td class="details day2">
                <span class="dimmed">Spring Break (no class)</span>
                <ul class="todo">
                    <li>
                        <a href="slides/">slides</a>
                    </li>
                    <li>
                        <a href="code/">code</a>
                    </li>
                </ul>
            </td>
            <td class="date">03 &middot; 16</td>
            <td class="assignment"> </td>
        </tr>
        <!--week 9: 03/21, 03/23-->
        <tr class="week">
            <td class="week-num">(9)</td>
            <!-- Mon 03/21 -->
            <td class="date">03 &middot; 21</td>
            <td class="details day1">
                <span class="" style="font-size: smaller"><em>critique</em></span>
                <ul class="todo">
                    <li>
                        <a href="slides/">slides</a>
                    </li>
                    <li>
                        <a href="code/">code</a>
                    </li>
                </ul>
            </td>
            <!-- Wed 03/23 -->
            <td class="details day2">
                <span class="" style="font-size: smaller"><em>studio</em></span>
                <ul class="todo">
                    <li>
                        <a href="slides/">slides</a>
                    </li>
                    <li>
                        <a href="code/">code</a>
                    </li>
                </ul>
            </td>
            <td class="date">03 &middot; 23</td>
            <td class="assignment"> 
                <dl>
                    <dt>Project: design and implementation</dt>
                    <dd>Due / notebook: Sunday 3/27 at 11:59pm<br/> 
                        Critique: Tuesday 3/29 at 11:59pm</dd>
                </dl>
            </td>
        </tr>
        <!--week 10: 03/28, 03/30-->
        <tr class="week">
            <td class="week-num">(10)</td>
            <!-- Mon 03/28 -->
            <td class="date">03 &middot; 28</td>
            <td class="details day1">
                <span class="" style="font-size: smaller"><em>critique</em></span>
                <ul class="todo">
                    <li>
                        <a href="slides/">slides</a>
                    </li>
                    <li>
                        <a href="code/">code</a>
                    </li>
                </ul>
            </td>
            <!-- Wed 03/30 -->
            <td class="details day2">
                <span class="" style="font-size: smaller"><em>studio</em></span>
                <ul class="todo">
                    <li>
                        <a href="slides/">slides</a>
                    </li>
                    <li>
                        <a href="code/">code</a>
                    </li>
                </ul>
            </td>
            <td class="date">03 &middot; 30</td>
            <td class="assignment"> 
                <dl>
                    <dd>Notebook: Sunday 4/3 at 11:59pm<br/> 
                        Critique: Tuesday 4/5 at 11:59pm</dd>
                </dl>
            </td>
        </tr>
        <!--week 11: 04/04, 04/06-->
        <tr class="week">
            <td class="week-num">(11)</td>
            <!-- Mon 04/04 -->
            <td class="date">04 &middot; 04</td>
            <td class="details day1">
                <span class="" style="font-size: smaller"><em>critique</em></span>
                <ul class="todo">
                    <li>
                        <a href="slides/">slides</a>
                    </li>
                    <li>
                        <a href="code/">code</a>
                    </li>
                </ul>
            </td>
            <!-- Wed 04/06 -->
            <td class="details day2">
                <span class="" style="font-size: smaller"><em>studio</em></span>
                <ul class="todo">
                    <li>
                        <a href="slides/">slides</a>
                    </li>
                    <li>
                        <a href="code/">code</a>
                    </li>
                </ul>
            </td>
            <td class="date">04 &middot; 06</td>
            <td class="assignment"> 
                <dl>
                    <dt>Project: prototype</dt>
                    <dd>Due / notebook: Sunday 4/10 at 11:59pm<br/> 
                        Critique: Tuesday 4/12 at 11:59pm</dd>
                </dl>
            </td>
        </tr>
        <!--week 12: 04/11, 04/13-->
        <tr class="week">
            <td class="week-num">(12)</td>
            <!-- Mon 04/11 -->
            <td class="date">04 &middot; 11</td>
            <td class="details day1">
                <span class="" style="font-size: smaller"><em>critique</em></span>
                <ul class="todo">
                    <li>
                        <a href="slides/">slides</a>
                    </li>
                    <li>
                        <a href="code/">code</a>
                    </li>
                </ul>
            </td>
            <!-- Wed 04/13 -->
            <td class="details day2">
                <span class="" style="font-size: smaller"><em>studio</em></span>
                <ul class="todo">
                    <li>
                        <a href="slides/">slides</a>
                    </li>
                    <li>
                        <a href="code/">code</a>
                    </li>
                </ul>
            </td>
            <td class="date">04 &middot; 13</td>
            <td class="assignment"> 
                <dl>
                    <dt>Project: preliminary evaluation</dt>
                    <dd>Due / notebook: Sunday 4/17 at 11:59pm<br/> 
                        Critique: Tuesday 4/19 at 11:59pm</dd>
                </dl>
            </td>
        </tr>
        <!--week 13: 04/18, 04/20-->
        <tr class="week">
            <td class="week-num">(13)</td>
            <!-- Mon 04/18 -->
            <td class="date">04 &middot; 18</td>
            <td class="details day1">
                <span class="" style="font-size: smaller"><em>critique</em></span>
                <ul class="todo">
                    <li>
                        <a href="slides/">slides</a>
                    </li>
                    <li>
                        <a href="code/">code</a>
                    </li>
                </ul>
            </td>
            <!-- Wed 04/20 -->
            <td class="details day2">
                <span class="" style="font-size: smaller"><em>studio</em></span>
                <ul class="todo">
                    <li>
                        <a href="slides/">slides</a>
                    </li>
                    <li>
                        <a href="code/">code</a>
                    </li>
                </ul>
            </td>
            <td class="date">04 &middot; 20</td>
            <td class="assignment"> 
                <dl>
                    <dt>Project: demo / presentation</dt>
                    <dd>Due / notebook: Sunday 4/24 at 11:59pm<br/> 
                        Critique: in class</dd>
                </dl>
            </td>
        </tr>
        <!--week 14: 04/25, 04/27-->
        <tr class="week">
            <td class="week-num">(14)</td>
            <!-- Mon 04/25 -->
            <td class="date">04 &middot; 25</td>
            <td class="details day1">
                <span class="">Presentations</span>
                <ul class="todo">
                    <li>
                        <a href="slides/">slides</a>
                    </li>
                    <li>
                        <a href="code/">code</a>
                    </li>
                </ul>
            </td>
            <!-- Wed 04/27 -->
            <td class="details day2">
                <span class="">Presentations</span>
                <ul class="todo">
                    <li>
                        <a href="slides/">slides</a>
                    </li>
                    <li>
                        <a href="code/">code</a>
                    </li>
                </ul>
            </td>
            <td class="date">04 &middot; 27</td>
            <td class="assignment"> 
                <dl>
                    <dt>Project: final product and writeup</dt>
                    <dd>Due / notebook: <b>Friday</b> 4/29 at 11:59pm</dd>
                </dl>
            </td>
        </tr>
    </tbody>
</table>
